


.ui-tree{
  width:17em !important;
  height: 45.65em !important;
}
p-tree{
  height: 45.65em !important;
}

.ui-tree.ui-widget.ui-widget-content.ui-corner-all.ui-tree-selectable {
    height: 45.65em !important;
}
.ui-grid-col-1.ng-valid[required]:hover {
    background-color: lightgray;
    border-radius: 5px;
}
:host::ng-deep ul.ui-tree-container {
  height:44em !important;
}
:host::ng-deep body .ui-button {
  background-color: maroon !important;
}


